<div class="search_container">
  <mat-form-field class="searching-input w-50">
    <input class="search" matInput [(ngModel)]="searchQuery"
    name="search" placeholder="Search for images">
  </mat-form-field>
  <mat-form-field class="searching-input w-25">
    <input class="amount" matInput type="number" min="10" max="200" value [(ngModel)]="amountOfResults"
    name="amount" placeholder="Amount of results">
    <mat-hint>default is 10</mat-hint>
  </mat-form-field>
  <br>
  <button (click)="searchImages(searchQuery, amountOfResults)"
  mat-flat-button color="primary" class="searchButton">Find Images</button>
</div>

<div *ngIf="searching">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div> 

<ng-container *ngIf="(images && images.length > 0) else NoImageFound" >
  <mat-card *ngFor="let image of images" (click)="AddImage(image)" class="Result d-inline-block">
      <p>User: {{ image.user }}</p>
    <img mat-card-lg-image src="{{image.webformatURL}}">
      <p>Likes: {{ image.likes }}</p>
  </mat-card>
</ng-container>

<ng-container #NoImageFound>
  <h4>No results</h4>
</ng-container>