.photosBar {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 3;
  width: fit-content;
  align-items: center;
  max-width: calc(98% - 64.25px);
  min-height: calc(15vh + 26px);
  display: flex;
}

.DoneBtn {
  position: fixed;
  right: 2vh;
  bottom: 7.5vh;
}

.photoBarComponent {
  max-width: 100%;
}
