<mat-list role="list">
    <mat-list-item *ngFor="let image of images; last as last" role="listitem">
        <mat-card>

            <img mat-card-md-image [id]="image.id" class="h-100" [lazyLoad]="image.url?(!image.linkDeprecated ? image.url : 'assets/noImage.jpg'):image.webformatURL">
            
            <p *ngIf="image.tags">
                {{ image.tags.split(',')[0] }}
            </p>
            <p *ngIf="image.caption">
                {{ image.caption }}
            </p>
            
            <p *ngIf="image.likes">
                Likes: {{ image.likes }}
            </p>
            <p *ngIf="!image.likes">
                <mat-form-field>
                    <mat-label>categories</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let category of image.categories" [value]="category.name">
                            {{category.name}}
                        </mat-option>
                        <mat-option (click)="addCategoryClick(image)">
                            Add category
                            <mat-icon matSuffix>add</mat-icon>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            
            <!-- Both -->
            <button mat-mini-fab *ngIf="popPhotoContainer.observers.length" color="primary" (click)="popPhotoContainer.emit(image)">
                <mat-icon matSuffix>info</mat-icon>
            </button>
            <!-- webSearches -->
            <button mat-mini-fab *ngIf="AddImage.observers.length" color="primary"  (click)="AddImage.emit(image)">
                <mat-icon matSuffix>add</mat-icon>
            </button>
            <!-- Gallery -->
            <button mat-mini-fab *ngIf="deleteImage.observers.length" color="warn" (click)="deleteImage.emit(image)">
                <mat-icon matSuffix  >delete</mat-icon>
            </button>
            
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-card>
    </mat-list-item>
</mat-list>