.mat-list-item:not(:last-child, :first-child) {
  margin: 11px 0px;
}
.mat-list-item {
  height: fit-content !important;
}

.mat-card-md-image {
  max-width: 112px;
  max-height: 112px;
  object-fit: contain;
}

.mat-divider.mat-divider-inset {
  margin: 5px 0px !important;
  top: 100%;
}

.mat-card {
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content !important;
  box-shadow: 0px 0px 5px !important;
  transition: 0.3s;
  border-radius: 10px;
}
.mat-card:hover {
  box-shadow: 0px 0px 15px !important;
}
