#search-container {
  margin-top: 20%;
}

.search,
.amount {
  height: 70px;
  max-height: 70px;
  font-size: 3.5em;
}

.avatar {
  margin-bottom: 7px;
}

.Result:hover {
  background-color: lightgreen;
}

.searchButton {
  background-color: #ca1740;
  color: #fff;
  margin-top: 20px;
}

.mat-card {
  text-align: center !important;
}

.mat-card-lg-image {
  object-fit: contain;
}

.results {
  padding: 8px;
  margin-bottom: 12px;
}

.mat-card {
  text-align-last: center;
}
