<div class="WebCamContainer" #webcamContainer *ngIf="isCameraExist; else noCameraExist">
    <webcam *ngIf="showWebcam && !imageCaptured" [width]="webcamContainer.scrollWidth" [height]="webcamContainer.scrollHeight" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" #WebCam></webcam>
    <div *ngIf="showWebcam && !imageCaptured" class="Icon-Container ShootingIcon" (click)="takeSnapshot($event)" #CameraIcon>
        <fa-icon [icon]="cameraIcon"></fa-icon>
    </div>
    <div *ngIf="!imageCaptured" class="Icon-Container PowerOffIcon" (click)="onOffWebCam()">
        <fa-icon [icon]="OnOffIcon"></fa-icon>
    </div>
    
    <img *ngIf="imageCaptured" class="capturedImage" [width]="webcamContainer.scrollWidth" [height]="webcamContainer.scrollHeight" [src]="capturedImage.imageAsDataUrl" #CapturedImage/>
    <div *ngIf="imageCaptured" class="Icon-Container CheckIcon" (click)="AddCapturedPhoto()">
        <fa-icon [icon]="checkIcon"></fa-icon>
    </div>
    <div *ngIf="imageCaptured" class="Icon-Container DiscarIcon" (click)="DiscarCapturedPhoto()">
        <fa-icon [icon]="discarIcon"></fa-icon>
    </div>
</div>
<ng-template #noCameraExist>
    <h4>Camera device not available</h4>
</ng-template>