.containerImage {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  max-height: 325px !important;
}

.mat-card-image {
  margin: 0 -16px 0 -16px !important;
}

.locationIcon {
  color: red;
}
.favoriteIcon {
  color: gold;
}
.saveAndExitBtn {
  background-color: red;
}

button {
  vertical-align: middle;
}

button span {
  display: none;
}

button:hover span {
  display: flex;
}

span {
  position: absolute;
}

span.bottom {
  top: calc(100% - 8px);
  left: 0px;
}

span.top {
  bottom: calc(100% - 8px);
}

.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0 !important;
}

.mat-form-field {
  padding-left: 10px;
  padding-right: 10px;
}

.main {
  max-height: 325px !important;
  overflow: hidden !important;
}

.saveAndExitBtn.saving {
  animation: saving 1s linear;
  animation-fill-mode: forwards;
}

@keyframes saving {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(315deg);
    background-color: green;
  }
  75% {
    transform: rotate(315deg);
    background-color: green;
  }
  100% {
    transform: rotate(720deg);
  }
}
