<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="templateChange()">
        <mat-icon>{{Template == 'Grid' ? 'grid_view' : 'view_list'}}</mat-icon>
        <span>{{ Template }}</span>
    </button>
    <button mat-menu-item [disabled]="!user">
        <mat-icon>slideshow</mat-icon>
        <span>Carousel</span>
    </button>
    <button mat-menu-item [disabled]="!user">
        <mat-icon>file_upload</mat-icon> 
        <span>Import</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>share</mat-icon>
        <span>Share</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>cloud_upload</mat-icon>
        <span>Sync</span>
    </button>
</mat-menu>
<!-- <God></God> -->