<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="templateChange()">
        <mat-icon *ngIf="Template == 'Grid'">grid_view</mat-icon>
        <mat-icon *ngIf="Template == 'List'">view_list</mat-icon>
        <span>{{Template}}</span>
    </button>
    <button mat-menu-item>
        <mat-icon>slideshow</mat-icon>
        <span>Random</span>
    </button>
    <button mat-menu-item>
        <!-- <mat-icon></mat-icon> -->
        <span>Import / Observe</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>share</mat-icon>
        <span>Share</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>cloud_upload</mat-icon>
        <span>Sync</span>
    </button>
</mat-menu>
<!-- <God></God> -->