.main {
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}

.containerImage {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  max-height: 355px !important;
}

.Head {
  flex-direction: row;
  margin: 5px 0px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: relative;
  align-items: center;
}

.exitIcon {
  position: absolute;
  left: 0;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.mat-card-content {
  margin: 8px 0px;
}
