<div class="w-100 PhotoBarContainer" *ngIf="Photos.length > 0">
 <div class="images" *ngFor="let image of Photos.slice().reverse()">
      <div class="row align-items-center justify-content-center privateContainer">
          <span *ngIf="image.isPrivate" class="Plabel Private">private</span>
           <span *ngIf="!image.isPrivate" class="Plabel Public">public</span>
          <app-toggler class="TogglerBar" [initialState]="image.isPrivate" (StateChanged)="setIsPrivae($event, image)"></app-toggler>
      </div>
      <img class="Image-Group" [src]="image.url" (click)="Remove(image)"/>
 </div>
</div>
