.Header {
  display: flex;
  justify-content: space-between;
}
@mixin sidenav-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  .Header {
    background: mat-color($primary, darker);
    color: mat-color($primary, default-contrast);
  }
}

.mat-button {
  padding: 10px !important;
}
